<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: fixed; width: 100%; top: 0; z-index: 100;">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <a class="navbar-brand" href="/"></a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a style="font-family:'Times New Roman', Times, serif; color:#395b49" class="nav-link" href="/echo">Home</a>
        </li>
        <li class="nav-item">
            <a style="font-family:'Times New Roman', Times, serif; color:#395b49" class="nav-link" href="/friends">Friends</a>
        </li>
        <li class="nav-item">
            <a style="font-family:'Times New Roman', Times, serif; color:#395b49" class="nav-link" href="/leaderboard">Leaderboard</a>
        </li>
        <li class="nav-item">
            <a style="font-family:'Times New Roman', Times, serif; color:#395b49" class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>

    <div class="navbar-collapse collapse order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" href="#">
                {{!-- <!-- Profile Picture -->
                <img src="{{profile_pic}}" alt="Profile Picture" class="rounded-circle" style="width: 30px; height: 30px; margin-right: 10px;"> --}}
                <!-- Username -->
                <a style="font-family:'Times New Roman', Times, serif; color:#395b49" class="nav-link" href="/profile">{{username}}</a>
              </a>
          </li>
      </ul>
    </div>
  </nav>
</header>         