<!DOCTYPE html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-3 left-side">
                <a href="/profile/{{user_id}}" class="btn btn-primary rounded-circle" style="position: fixed; top: 100px;">
                  Profile
                </a>
                {{!-- <form action="/leaderboard" method="GET">
                    <button class="btn btn-link" type="submit" name="ledaerboard" style="position: fixed; top: 120px;">Leader Board</button>
                </form>
                <form action="/friends" method="GET">
                    <button class="btn btn-link" type="submit" name="friends" style="position: fixed; top: 140px;">Friends</button>
                </form> --}}
            </div>
            <div class="col-6 middle">
                <div id="scrollable-content" style="overflow-y: scroll; height: 100vh;">
                    <div id="scrollable-content-inner">
                    <h2>Possible implementation for infinite scroll sans react</h2>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <script src="public/scroll.js"></script> 
</body>

</html>
