<!DOCTYPE html>
<body>
    <div class="container">
        <div class="row">
            <div class="col-3 left-side">
                <div class="search-container">
                    <p style="position: fixed; top: 100px;">Search:</p>
                    <input type="text" id="searchInput" placeholder="Search..." style="position: fixed; top: 120px;">
                    <ul id="searchResults"></ul>
                </div>
            </div>
            <script src="../../search.js"></script>
            <div class="col-6 middle">
                <div id="scrollable-content" style="overflow-y: scroll; height: 100vh;">
                    <div id="scrollable-content-inner">
                    <h2>Possible implementation for infinite scroll sans react</h2>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    <p>Some text..</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    <script src="/scroll.js"></script> 
</body>

</html>
