

<body>
  <div class="site-container">
    <div class="brand-title">ACENDIFY</div>
    <div
    <div class="form-wrapper">
      <h3 class="text-center mb-3" style="color: var(--color-primary)">Login</h3>
      
      {{> message }}
      
      <form method="POST" action="/login">
        <div class="form-group">
          <label for="username" class="form-label">Username</label>
          <input 
            type="text" 
            class="form-control" 
            id="username" 
            name="username" 
            required 
          />
        </div>
        
        <div class="form-group">
          <label for="password" class="form-label">Password</label>
          <input 
            type="password" 
            class="form-control" 
            id="password" 
            name="password" 
            required 
          />
        </div>
        
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
      
      <div class="link-container">
        Don't have an account? <a href="/register" class="link">Register</a>
      </div>
    </div>
  </div>
</body>
